<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="card card-body text-center">
        <h1>Not Found</h1>
        <p>La página no existe</p>
        <a href="/" class="btn btn-primary">Retornar a Inicio</a>
      </div>
    </div>
  </div>
</div>
