<section class="card my-4">
  <div class="card-body">
    <h1 class="display-4">¡Bienvenido a 'WebTech Note'!</h1>
    <p class="lead">
      Lugar donde las mentes creativas de nuestros talentosos desarrolladores backend y frontend se unen para dar vida a ideas innovadoras. Nuestra plataforma está diseñada para ser el epicentro de la creatividad, un espacio digital donde las ideas se convierten en realidad.
    </p>
    <p>
      Con WebTech Note, nunca perderás una idea brillante. Nuestra intuitiva y sencilla interfaz te permite capturar y organizar tus ideas en forma de notas digitales, ya sea que estés en tu escritorio o en movimiento. Ya no tendrás que preocuparte por perder ese destello de inspiración.
    </p>
  </div>
</section>
