<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="card text-center">
        <div class="card-body">
          <h1 class="display-4">Internal Server Error</h1>
          <p class="lead">{{error}}</p>
          <a href="/" class="btn btn-primary">Regresar a la página de inicio</a>
        </div>
      </div>
    </div>
  </div>
</div>
