<div class="card card-body p-5 mt-4">
  <h1 class="display-4">Mis Pasatiempos</h1>
  <p class="lead">Una aplicación simple para administrar pasatiempos desarrollada con tecnologías Nodejs, Express, Mongodb y Javascript</p>
  <hr class="my-4" />
  <p>Para comenzar obten tu cuenta registrandote.
  </p>
  <div>
    <a
      class="btn btn-primary btn-lg"
      href="/auth/signup"
      role="button"
    >Registrarse</a>
  </div>
</div>