<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="card card-body p-5 mt-4 text-center">
        <h1 class="display-4">WebTech Note</h1>
        <p class="lead">Una aplicación simple para administrar (Notas o Ideas), sistema desarrollado con tecnologías Node.js, Express, MongoDB y JavaScript</p>
        <hr class="my-4" />
        <p>Anchundia Lucas Leonel Armando - WebTech</p>
        <a class="btn btn-primary btn-lg" href="https://leonel-anchundia16.github.io/CV2023/" role="button">Visitar CV</a>
      </div>
    </div>
  </div>
</div>
